.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.search--form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search--bar {
  width: 50%;
  padding: 10px 20px;
  outline: none;
}

.search--button {
  padding: 10px 20px;
  background-color: tomato;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.recipes {
  display: flex;
}

.recipes--container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.recipe--link {
  margin-top: 15px;
  text-decoration: none;
  font-size: 20px;
  background-color: #e28eca;
  border-radius: 25px;
  padding: 10px;
  color: black;
}
